MONGO_URI=mongodb+srv://abdulrehmanwaseem102_db_user:NEfw6jkmZdgB5K0H@airbnb.ix1z3o7.mongodb.net/airbnb?retryWrites=true&w=majority
JWT_SECRET=rehman
CLOUDINARY_CLOUD_NAME=dewkvhlje
CLOUDINARY_API_KEY=835292952964664
CLOUDINARY_API_SECRET=ZrkM_rttEvHWGc2lpjyAQVINSgw
GEMINI_API_KEY=AIzaSyBF5Y9JkdN8cDIufZDX30xt3nFPbJtiXMY
PORT=5000
